.title {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 150px;
}

body {
    background-color: aquamarine;
}

.header{
    display: flex;
}

.mainText{

    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}